{% extends 'myapp/base.html' %}

{% block title %}{{ form.instance.title|default:"New Task" }}{% endblock %}

{% block content %}
    <h2>{{ form.instance.title|default:"New Task" }}</h2>
    <form method="post" action="{% if form.instance.pk %}{% url 'task_edit' pk=form.instance.pk %}{% else %}{% url 'task_create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'task_list' %}">Cancel</a>
{% endblock %}

{% block extrastyles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
{% endblock %}
